<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>guild fu</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    {% load static %}<script type="text/javascript" src="{% static "js/csrf.js" %}"></script>    
    <script type="text/javascript" src="{% static "js/app.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
</head>
<body>
  <div id="header">
    <div id="header-content">
      <h1>guild fu</h1>
      {% if user.is_authenticated %}
      <div id="header-user-details">
        <span>
          Welcome, {{ user.username }}!
        </span>
        <span>
        {% if default_character %}
          Current Character: {{ default_character }} 
        {% else %}
          You have no default!
        {% endif %}
        [<a href="/characters/current">Change</a>]
        </span>
      </div>
      {% endif %}
    </div>
  </div>
  <div id="navigation-container">
    <ul id="navigation">
      <li><a href="/">Home</a></li>
      {% if user.is_authenticated %}
      <li><a href="/user">User</a></li>
      <li><a href="/guilds/create">Add Guild</a></li>
      <li><a href="/security/logout">Logout</a></li>
      {% else %}
      <li><a href="/security/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      {% endif %}
    </ul>
  </div>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
  <div id="footer">
    <a href="http://djangopony.com/" class="ponybadge" title="Magic! Ponies! Django! Whee!"><img src="http://media.djangopony.com/img/small/badge.png" width="210" height="65" alt="pony powered"></a>
  </div>
</body>
</html>
